In [2]:
import numpy as np
import pandas as pd

In [3]:
# Problem Statement 1:
# You survey households in your area to find the average rent they are paying. 
# Find the standard deviation from the following data: 
rent = [1550, 1700, 900, 850, 1000, 950]

# make it as dataframe
df = pd.DataFrame(rent)
df.describe()

                 0
count     6.000000
mean   1158.333333
std     367.990036
min     850.000000
25%     912.500000
50%     975.000000
75%    1412.500000
max    1700.000000

In [4]:
print("Standard Deviation is :", df.iloc[:,0].std())

Standard Deviation is : 367.99003609699366

In [5]:
#Problem Statement 2: 
# Find the variance for the following set of data representing trees in California (heights in feet):
heights = [3, 21, 98, 203, 17, 9]
heights

[3, 21, 98, 203, 17, 9]

In [6]:
df = pd.DataFrame(heights)
df.describe()

                0
count    6.000000
mean    58.500000
std     78.866343
min      3.000000
25%     11.000000
50%     19.000000
75%     78.750000
max    203.000000

In [7]:
print("Variance of the tree height is :", df.iloc[:,0].var(), "feets")

Variance of the tree height is : 6219.9 feets

In [9]:
# In a class on 100 students, 80 students passed in all subjects, 10 failed in one subject, 7 failed in two subjects 
# and 3 failed in three subjects. Find the probability distribution of the variable for number of subjects a student 
# from the given class has failed in. 

# create the lists for students based on the subjects failed and the subjects.
tot_num_studs=100
studs=[80,10,7,3]
failed_subj=[0,1,2,3]


# Get the probability distribution, df is the distribution dataframe. 
prob_failed_studs=[stud/tot_num_studs for stud in studs]
df = pd.DataFrame({'Failed Subject(s)':failed_subj, 'Probability':prob_failed_studs})
print(' Probability Distribution for the number of subjects a student failed : \n','-'*73, '\n', df)

 Probability Distribution for the number of subjects a student failed :
 -------------------------------------------------------------------------
    Failed Subject(s)  Probability
0                  0         0.80
1                  1         0.10
2                  2         0.07
3                  3         0.03